/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inconsolata&family=Share+Tech+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inconsolata', monospace;
}

span {
  font-family: 'Share Tech Mono', monospace;
}

p {
  font-family: 'Hack';
}

@layer utilities {
  .filler {
    content: '\200b';
  }
}
