/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Inconsolata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Comfortaa', cursive;
}

span {
  font-family: 'Inconsolata', monospace;
}

@layer utilities {
  .filler {
    content: '\200b';
  }
}
